.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .group-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1240px;
  height: 3238px;
}

.desktop .group {
  position: relative;
  width: 1280px;
  height: 3238px;
  left: -220px;
}

.desktop .frame {
  position: relative;
  height: 3238px;
  background-color: #ffffff;
  overflow: hidden;
}

.desktop .div-wrapper {
  position: absolute;
  width: 1280px;
  height: 800px;
  top: 0;
  left: -200px;
}

.desktop .div {
  height: 800px;
}

.desktop .section-wrapper {
  width: 1280px;
  height: 800px;
}

.desktop .section {
  height: 800px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.desktop .background-shadow {
  position: relative;
  width: 660px;
  height: 261px;
  top: 192px;
  left: 0px;
  background-color: #faf3ffe6;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
}

.desktop .overlap-group {
  position: absolute;
  width: 540px;
  height: 136px;
  top: 25px;
  left: -129px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 462px;
  height: 107px;
  top: 0;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #695c99;
  font-size: 56px;
  letter-spacing: 0;
  line-height: 48px;
}

.desktop .p {
  width: 540px;
  height: 48px;
  top: 88px;
  left: 0;
  opacity: 0.8;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #111827;
  font-size: 20px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.desktop .link {
  position: absolute;
  width: 188px;
  height: 48px;
  top: 185px;
  left: -129px;
  background-color: #7768af;
  border-radius: 15px;
  border: 1px solid;
  border-color: #8e6ff7;
}

.desktop .text-wrapper-2 {
  width: 171px;
  height: 20px;
  top: 13px;
  left: 9px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.desktop .frame-wrapper {
  position: absolute;
  width: 1277px;
  height: 484px;
  top: 800px;
  left: -197px;
}

.desktop .frame-2 {
  height: 484px;
  background-color: #ffffff;
}

.desktop .group-2 {
  position: relative;
  width: 1162px;
  height: 397px;
  top: 37px;
  left: -37px;
}

.desktop .group-3 {
  position: absolute;
  width: 765px;
  height: 357px;
  top: 20px;
  left: -200px;
}

.desktop .background-shadow-2 {
  position: absolute;
  width: 765px;
  height: 93px;
  top: 0;
  left: 0;
  background-color: #eae4ed;
  border-radius: 20px;
  box-shadow: 0px 4px 20px #8e6ff71a;
}

.desktop .overlay {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 23px;
  left: -178px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .icon {
  position: relative;
  width: 22px;
  height: 21px;
  top: 13px;
  left: 13px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 9px;
  height: 20px;
  top: -1px;
  left: 2px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #7768af;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .heading {
  width: 682px;
  height: 28px;
  top: 32px;
  left: -109px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  color: #111827;
  letter-spacing: 0;
}

.desktop .background-shadow-3 {
  position: absolute;
  width: 765px;
  height: 93px;
  top: 132px;
  left: 0;
  background-color: #eae4ed;
  border-radius: 20px;
  box-shadow: 0px 4px 20px #8e6ff71a;
}

.desktop .icon-wrapper {
  top: 28px;
  left: -176px;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .heading-2 {
  position: absolute;
  width: 721px;
  height: 28px;
  top: 32px;
  left: -109px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #111827;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .background-shadow-4 {
  position: absolute;
  width: 765px;
  height: 93px;
  top: 264px;
  left: 0;
  background-color: #eae4ed;
  border-radius: 20px;
  box-shadow: 0px 4px 20px #8e6ff71a;
}

.desktop .heading-3 {
  position: absolute;
  width: 696px;
  height: 28px;
  top: 32px;
  left: -109px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #111827;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .overlay-2 {
  top: 23px;
  left: -176px;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .dacfb-cf-e {
  position: absolute;
  width: 397px;
  height: 397px;
  top: 0;
  left: 565px;
  object-fit: cover;
}

.desktop .container-wrapper {
  width: 1280px;
  height: 560px;
  top: 1284px;
  background-color: #eae3ed;
  position: absolute;
  left: -197px;
}

.desktop .container {
  position: relative;
  width: 1287px;
  height: 414px;
  top: 52px;
  left: -104px;
}

.desktop .heading-meowmind {
  width: 658px;
  height: 36px;
  top: -1px;
  left: 115px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
  position: absolute;
  color: #111827;
  letter-spacing: 0;
}

.desktop .background-shadow-5 {
  position: absolute;
  width: 391px;
  height: 330px;
  top: 84px;
  left: -168px;
  background-color: #faf3ff;
  border-radius: 16px;
  box-shadow: 0px 4px 20px #8e6ff71a;
}

.desktop .clock-wrapper {
  top: 31px;
  left: -168px;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .img {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 10px;
  left: 11px;
}

.desktop .heading-4 {
  position: absolute;
  width: 197px;
  height: 28px;
  top: 103px;
  left: -168px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #111827;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .text-wrapper-4 {
  width: 310px;
  height: 68px;
  top: 141px;
  left: -168px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  letter-spacing: 0;
}

.desktop .background-shadow-6 {
  position: absolute;
  width: 391px;
  height: 330px;
  top: 84px;
  left: 248px;
  background-color: #faf3ff;
  border-radius: 16px;
  box-shadow: 0px 4px 20px #8e6ff71a;
}

.desktop .heading-5 {
  position: absolute;
  width: 327px;
  height: 56px;
  top: 99px;
  left: -168px;
}

.desktop .text-wrapper-5 {
  width: 267px;
  height: 52px;
  top: 1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #111827;
  font-size: 20px;
  line-height: 28px;
  position: absolute;
  letter-spacing: 0;
}

.desktop .meow-mind {
  height: 140px;
  top: 164px;
  left: -166px;
  position: absolute;
  width: 319px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .book-open-wrapper {
  top: 32px;
  left: -181px;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .background-shadow-7 {
  position: absolute;
  width: 391px;
  height: 330px;
  top: 84px;
  left: 664px;
  background-color: #faf3ff;
  border-radius: 16px;
  box-shadow: 0px 4px 20px #8e6ff71a;
}

.desktop .img-wrapper {
  top: 32px;
  left: -168px;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .icon-2 {
  position: absolute;
  width: 22px;
  height: 21px;
  top: 13px;
  left: 13px;
}

.desktop .heading-6 {
  position: absolute;
  width: 237px;
  height: 28px;
  top: 103px;
  left: -168px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #111827;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .meow-mind-2 {
  height: 44px;
  top: 145px;
  left: -168px;
  position: absolute;
  width: 319px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .section-2 {
  width: 1277px;
  height: 838px;
  top: 1898px;
  background-color: #eae4ed;
  position: absolute;
  left: -197px;
}

.desktop .container-2 {
  position: relative;
  width: 1274px;
  height: 661px;
  top: 68px;
  left: -198px;
}

.desktop .heading-7 {
  position: absolute;
  width: 513px;
  height: 36px;
  top: -1px;
  left: 281px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #111827;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.desktop .container-3 {
  position: absolute;
  width: 768px;
  height: 56px;
  top: 52px;
  left: 153px;
}

.desktop .text-wrapper-6 {
  width: 663px;
  height: 49px;
  top: 2px;
  left: -148px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  position: absolute;
  letter-spacing: 0;
}

.desktop .background-shadow-8 {
  position: absolute;
  width: 1213px;
  height: 467px;
  top: 190px;
  left: -70px;
  background-color: #f9f3ff;
  border-radius: 16px;
  box-shadow: 0px 4px 20px #8e6ff71a;
}

.desktop .heading-8 {
  position: absolute;
  width: 214px;
  height: 32px;
  top: 53px;
  left: 380px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #111827;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.desktop .ai-content-generator-wrapper {
  top: 114px;
  left: 380px;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .img-2 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  left: 10px;
}

.desktop .heading-9 {
  width: 94px;
  height: 28px;
  top: 109px;
  left: 444px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  white-space: nowrap;
  position: absolute;
  color: #111827;
  letter-spacing: 0;
}

.desktop .text-wrapper-7 {
  width: 383px;
  height: 24px;
  top: 145px;
  left: 444px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.desktop .arrow-reload-wrapper {
  top: 198px;
  left: 380px;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .heading-10 {
  width: 120px;
  top: 193px;
  position: absolute;
  height: 28px;
  left: 444px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #111827;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .text-wrapper-8 {
  width: 537px;
  height: 68px;
  top: 231px;
  left: 444px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  letter-spacing: 0;
}

.desktop .analytics-wrapper {
  top: 330px;
  left: 380px;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #8e6ff71a;
  border-radius: 9999px;
}

.desktop .heading-11 {
  width: 198px;
  top: 325px;
  position: absolute;
  height: 28px;
  left: 444px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #111827;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .element {
  width: 502px;
  height: 44px;
  top: 363px;
  left: 444px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  letter-spacing: 0;
}

.desktop .plateau-effect {
  position: absolute;
  width: 481px;
  height: 355px;
  top: 58px;
  left: -146px;
  object-fit: cover;
}

.desktop .background-shadow-wrapper {
  width: 1280px;
  height: 434px;
  top: 2804px;
  background-image: url(./img/section.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  left: -197px;
}

.desktop .background-shadow-9 {
  position: relative;
  width: 506px;
  height: 192px;
  top: 86px;
  left: 124px;
  background-color: #faf3ffcc;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 445px;
  height: 24px;
  top: 143px;
  left: -168px;
  opacity: 0.8;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #111827;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  width: 445px;
  height: 96px;
  top: 28px;
  left: -170px;
  opacity: 0.8;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #111827;
  font-size: 20px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}